/* Universal selector apply to all the elements and no inheritance involved */
/* * {
  /* border-top: 10px solid #1098ab; */
/* } */

* {
  margin: 0;
  padding: 0;
}

/* Inheritance: can be easily overwritten by giving new property to the element, mostly apply for text */
body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ab;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ab;
  border-bottom: 5px solid #1098ab;
  padding: 50px 0;
}

h1,
h2,
h3 {
  color: #1098ab;
}

h1,
h2,
h3 {
  color: #1098ab;
}

h1 {
  font-size: 26px;

  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;

  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

li:first-child {
  font-weight: bold;
}
li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

/* li:nth-child(2) {
  color: red;
}

li:nth-child(even) {
  color: aquamarine;
} */
/* 
article p:last-child {
  color: red;
} */

/* Styling hyperlinks, always in this order like below: LVHA */
/*only targets a elements that has href attribute*/
a:link {
  color: #1098ab;
  text-decoration: none;
}

a:visited {
  color: #1098ab;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline dotted orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/* Resolving conflicts */
#copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green;
}

/* Inheritance */
/* nav a:link {
  font-size: 18 px;
} */

/* padding: when we need to add space inside of an element which is very useful
  when there is a bg-color or border on the element.
margin: in order to create space outside of an element or create space between multiple elements. 
In case need to add vertical space sticks to margin-bottom. */
