body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* PRODUCT */
.product {
  border: 4px solid black;
}

.product-title {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f7f7f7;
}

/* PRODUCT INFORMATION */
.product-prize {
  font-size: 24px;
}

.product-shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}

.more-info:link,
.more-info:visited {
  color: black;
}
.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* PRODUCT DETAILS */

.details-title {
  text-transform: uppercase;
  font-size: 16px;
}

.details-list {
  list-style-type: square;
}

/* BUTTON */
.add-cart {
  color: white;
  background-color: black;
  text-transform: uppercase;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.add-cart:hover {
  color: black;
  background-color: white;
}
