* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* PRODUCT */
.product {
  border: 4px solid black;
  margin: 50px auto;
  width: 825px;
  position: relative;
}

.product-title {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f7f7f7;
  padding: 15px;
}

/* PRODUCT INFORMATION */
.product-prize {
  font-size: 24px;
}

.product-shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
}

.sale {
  font-size: 12px;
  text-transform: uppercase;
  font-family: sans-serif;
  padding: 7px 15px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #ec2f2f;
  display: inline-block;
  position: absolute;
  top: -17px;
  left: -34px;
}

.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.color {
  background-color: #000;
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-right: 10px;
}

.color-blue {
  background-color: #2f6ee2;
}

.color-red {
  background-color: #ec2f2f;
}

.color-yellow {
  background-color: #f0bf1e;
}

.color-green {
  background-color: #90cc20;
}

.color-brown {
  background-color: #885214;
}

/* PRODUCT DETAILS */

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.details-list {
  list-style-type: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

/* BUTTON */
.add-cart {
  color: white;
  background-color: black;
  text-transform: uppercase;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
}

.add-cart:hover {
  color: black;
  background-color: white;
}
